<article class="row blog_item">
    <div class="col-md-3">
        <div class="blog_info text-right">
            <div class="post_tag">
                @*<a href="#">Food,</a>*@
                <a class="active" href="#">@Model.Course.Category</a>
                @*<a href="#">Politics,</a>
                    <a href="#">Lifestyle</a>*@
            </div>
            <ul class="blog_meta list">
                <li><a href="#">@Model.Teacher.TeacherName<i class="ti-user"></i></a></li>
                <li><a href="#">@Model.Course.TotalTime ч<i></i></a></li>
                <li><a href="#">@Model.Price $<i></i></a></li>
                <li><a href="#">06 Comments<i class="ti-comment"></i></a></li>
            </ul>
        </div>
    </div>
    <div class="col-md-9">
        <div class="blog_post">
            <img src="data:image/jpeg;base64,@(Convert.ToBase64String(Model.Course.Image))" alt="">
            <div class="blog_details">
                <a asp-controller="Course" asp-action="CourseDetails"
                   asp-route-id="@Model.Course.CourseId">
                    <h2>@Model.Course.Name</h2>
                </a>
                <p>
                    @Model.Course.ShortDescription
                </p>
                <a class="blog_btn" asp-controller="Course" asp-action="CourseDetails"
                   asp-route-id="@Model.Course.CourseId">View More</a>
            </div>
        </div>
    </div>
</article>
