<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - OnlineCourses</title>

    <link rel="stylesheet" href="~/css/bootstrap.css">

    <link rel="stylesheet" href="~/css/flaticon.css">
    <link rel="stylesheet" href="~/css/themify-icons.css">
    <link rel="stylesheet" href="~/vendors/owl-carousel/owl.carousel.min.css">
    <link rel="stylesheet" href="~/vendors/nice-select/css/nice-select.css">
    <link rel="stylesheet" href="~/css/style.css">
    <link rel="stylesheet" href="~/css/google-translate.css" />

</head>
<body>
    <header class="header_area">
        <div class="main_menu">

            <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">

                    <a class="navbar-language" asp-controller="home" asp-action="Index">
                        <img src="~/img/languages/lang__ru.png" alt="ru" data-google-lang="ru" class="language__img">
                        <img src="~/img/languages/lang__en.png" alt="en" data-google-lang="en" class="language__img">
                        <img src="~/img/languages/lang__de.png" alt="de" data-google-lang="de" class="language__img">
                        <img src="~/img/languages/lang__fr.png" alt="fr" data-google-lang="fr" class="language__img">
                        <img src="~/img/languages/lang__pt.png" alt="pt" data-google-lang="pt" class="language__img">
                    </a>

                    <!-- Brand and toggle get grouped for better mobile display -->
                    <a class="navbar-brand logo_h" asp-controller="home" asp-action="Index">
                        <img src="img/logo.png" alt="" />
                    </a>
                    <button class="navbar-toggler"
                            type="button"
                            data-toggle="collapse"
                            data-target="#navbarSupportedContent"
                            aria-controls="navbarSupportedContent"
                            aria-expanded="false"
                            aria-label="Toggle navigation">
                        <span class="icon-bar"></span> <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse offset"
                         id="navbarSupportedContent">
                        <ul class="nav navbar-nav menu_nav ml-auto">
                            <li class="nav-item" @*class="nav-item active"*@>

                                <a class="nav-link" asp-controller="Home" asp-action="Index">To home</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Home" asp-action="About">About us</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Events" asp-action="Index">Blog</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" asp-controller="Contact" asp-action="Index">Contacts</a>
                            </li>

                            @*<li class="nav-item submenu dropdown">
                    <a href="#"
                       class="nav-link dropdown-toggle"
                       data-toggle="dropdown"
                       role="button"
                       aria-haspopup="true"
                       aria-expanded="false">Event</a>
                    <ul class="dropdown-menu">
                        <li class="nav-item">
                            <a class="nav-link" ></a>
                        </li>

                    </ul>
                </li>*@


                        </ul>

                        <ul class="nav nav-pills">
                            <li class="nav-item">
                                @*<button  type="button"class="btn btn-primary btn-xs">Danger</button> logout*@
                                @*<a class="nav-link" asp-controller="Account" asp-action="Logout">Sign out</a>*@

                            </li>

                            @if (User?.Identity != null && User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item">
                                    <p>User : @User.Identity.Name</p>
                                    @*<button type="button" class="btn-success btn-xs"
                                onclick="location.href='@Url.Action("Logout", "Account")'">
                            Logout
                        </button>*@

                                </li>
                            }
                            else
                            {
                        <li class="nav-item">
                            <button type="button" class="btn-success btn-xs"
                                    onclick="location.href='@Url.Action("Login", "Account")'">
                                Sign in
                            </button>
                            <button type="button" class="btn-success btn-xs"
                                    onclick="location.href='@Url.Action("Register", "Account")'">
                                Registration
                            </button>
                        </li>
        
                            }
                        </ul>



                    </div>
                </div>
            </nav>
        </div>
    </header>

  

    @RenderBody()
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <footer class="footer-area section_gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Top Products</h4>
                    <ul>

                        <li><a href="#">Manage Reputation</a></li>
                        <li><a href="#">Power Tools</a></li>
                        <li><a href="#">Marketing Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Quick Links</h4>
                    <ul>

                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Features</h4>
                    <ul>

                        <li><a href="#">Brand Assets</a></li>
                        <li><a href="#">Investor Relations</a></li>
                        <li><a href="#">Terms of Service</a></li>
                    </ul>
                </div>
                <div class="col-lg-2 col-md-6 single-footer-widget">
                    <h4>Resources</h4>
                    <ul>

                        <li><a href="#">Research</a></li>
                        <li><a href="#">Experts</a></li>
                        <li><a href="#">Agencies</a></li>
                    </ul>
                </div>
                <div class="col-lg-4 col-md-6 single-footer-widget">
                    <h4>Newsletter</h4>
                    <div class="form-wrap" id="mc_embed_signup">
                        <form target="_blank"
                              action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
                              method="get"
                              class="form-inline">
                            <input class="form-control"
                                   name="EMAIL"
                                   placeholder="Your Email Address"
                                   onfocus="this.placeholder = ''"
                                   onblur="this.placeholder = 'Your Email Address'"
                                   required=""
                                   type="email" />
                            <button class="click-btn btn btn-default">
                                <span>subscribe</span>
                            </button>
                            <div style="position: absolute; left: -5000px;">
                                <input name="b_36c4fd991d266f23781ded980_aefe40901a"
                                       tabindex="-1"
                                       value=""
                                       type="text" />
                            </div>

                            <div class="info"></div>
                        </form>
                    </div>
                    <p>You can trust us. we only send promo offers,</p>

                </div>
            </div>
            <div class="row footer-bottom d-flex justify-content-between">
                <div class="col-lg-4 col-sm-12 footer-social">
                    <a href="#"><i class="ti-facebook"></i></a>
                    <a href="#"><i class="ti-twitter"></i></a>
                    <a href="#"><i class="ti-dribbble"></i></a>
                    <a href="#"><i class="ti-linkedin"></i></a>
                </div>
            </div>
        </div>
    </footer>




    <script src="~/js/jquery-3.2.1.min.js"></script>
    <script src="~/js/popper.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/stellar.js"></script>
    <script src="~/vendors/nice-select/js/jquery.nice-select.min.js"></script>
    <script src="~/vendors/owl-carousel/owl.carousel.min.js"></script>
    <script src="~/js/owl-carousel-thumb.min.js"></script>
    <script src="~/js/jquery.validate.min.js"></script>
    <script src="~/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/js/mail-script.js"></script>
    <script src="~/js/gmaps.min.js"></script>
    <script src="~/js/contact.js"></script>
    <script src="~/js/theme.js"></script>

    @*translate*@
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-cookie/1.4.1/jquery.cookie.min.js"></script>
    <script src="~/js/google-translate.js"></script>
    <script src="https://translate.google.com/translate_a/element.js?cb=TranslateInit"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
